pkr/metagame/trunk/src/main/net/ai.pkr.metagame/data/ai.pkr.metagame.DeckDescriptor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="ai.pkr.metagame.DeckDescriptor.xsd"
           xmlns="ai.pkr.metagame.DeckDescriptor.xsd"  
           >
    <!-- Types -->
    <xs:complexType name="ArrayOfString">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="i" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeckDescriptor">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="CardNames" type="ArrayOfString" />
            <xs:element minOccurs="0" maxOccurs="1" name="CardSets" type="ArrayOfString" />
        </xs:sequence>
    </xs:complexType>
    <!-- Elements -->
    <xs:element name="DeckDescriptor" nillable="true" type="DeckDescriptor" />
</xs:schema>
